@import "../variables.scss";

.main-footer {
    padding: 95px 0;
    background: $darkgray1;
    color: white;
    font-size: 15px;

    a {
        color: white;
        opacity: 0.6; 
        transition: 0.3s;

        &:hover {
            opacity: 1;
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
    }

    &__company-name {
        display: block;
        font-size: 18px;
        margin-bottom: 20px;
    }

    &__company-copyright {
        opacity: 0.6;
    }

    &__contacts {
        padding: 0 10px;
    }

    &__email {
        display: block;
        margin-bottom: 5px;
    }

    &__menu-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 170px;
        height: 90px;
    }

    &__menu-item,
    &__socials-item {
        margin-right: 30px;
        margin-bottom: 5px;
    }

    &__menu-item {
        margin-right: 60px;
    }

    &__links {
        display: flex;
        justify-content: space-between;
    }

    @media (max-width: 990px) {
        padding: 50px 0;
        font-size: 13px;
    }

    @media (max-width: 740px) {

        .container {
            flex-wrap: wrap;
        }
        &__company {
            width: 35%;
            margin-bottom: 20px;
        }

        &__menu-item,
        &__socials-item {
            margin-right: 20px;
        }
    }

    @media (max-width: 520px) {
        &__company {
            width: 210px;
        }

        &__contacts {
            padding: 0px;
            margin-bottom: 20px;
        }
    }

    @media (max-width: 380px) {
        &__contacts {
            width: 100%;
        }
    }
}