@import "../variables.scss";

.work {
    &__inner {
        display: grid;
        grid-template-columns: repeat(4, minmax(300px, 1fr));
        grid-template-rows: 1fr 1fr;
        height: 600px;
        overflow: hidden;

        &.all-works {
            height: auto;
        }
    }

    &__item {
        position: relative;
        height: 300px;
        background-color: $lightgray4;
    }

    &__image img {
        object-fit: cover;
        transition: 0.5s;
    }

    &__icon {
        position: absolute;
        width: 60px;
        height: 40px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: 0.5s;
    }

    &__item:hover {
        .work__image {
            filter: brightness(0.3);
        }

        .work__icon {
            opacity: 1;
        }
    }

    &__button {
        display: block;
        width: 100%;
        padding: 40px 0;
        text-align: center;
        background-color: $lightgray1;
        color: $font-lightgray;
        font-size: 12px;
        font-weight: normal;
        text-transform: uppercase;
        transition: 0.3s;

        &:hover {
            filter: brightness(0.9);
        }

        &:active {
            filter: brightness(0.7);
        }
    }

    @media (max-width: 1200px) {
        &__inner {
            grid-template-columns: repeat(3, minmax(300px, 1fr));
        }
    }

    @media (max-width: 990px) {
        &__inner {
            height: 500px;
            grid-template-columns: repeat(3, minmax(250px, 1fr));
        }

        &__item {
            height: 250px;
        }
    }

    @media (max-width: 720px) {
        &__inner {
            grid-template-columns: repeat(2, minmax(250px, 1fr));
        }

        &__button {
            padding: 25px 0;
        }
    }

    @media (max-width: 520px) {
        &__inner {
            grid-template-columns: repeat(1, minmax(250px, 1fr));
        }
    }
}